body {
  font-family: "Roboto", sans-serif;
  background-color: #fafaff;
}

.image-container {
  position: absolute;
  top: 20%;
  left: 60%;
}

.neofetch-container {
  background-color: rgba(40, 44, 52, 1);
  border-radius: 10px;
  backdrop-filter: blur(30px);
  display: flex;
  color: white;
  flex-direction: column;
  max-width: 70%;
  padding-left: 10px;

  .terminal-input {
    display: flex;
    align-items: center;
    .ps1 {
      color: #359e23;
      font-weight: bold;
      padding-right: 5px;
    }
    .command {
      color: white;
    }
  }
  .neofetch-split {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 20%;

    .fetch-image {
      border-radius: 20%;
      aspect-ratio: 1/1;
      max-width: 400px;
      max-height: 400px;
      padding-left: 10px;
    }

    .fetch-text-container {
      .fetch-text {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
        .fetch-text-title {
          font-weight: bold;
          color: #41b3e0;
          margin-right: 5px;
        }
        .fetch-text-value {
          .fetch-link {
            color: white;
            transition: transform 0.2s ease-in-out;
          }

          .fetch-link:hover {
            color: red;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

.progress-bar {
  width: 60%;
  height: 40px;
  overflow: hidden;
  background-color: var(--progress-background);
  overflow: hidden;
  border-radius: 15px;

  .progress-indicator {
    display: block;
    width: var(--progress-percentage);
    border-radius: 15px;
    height: 100%;
    background-color: var(--progress-color);
    animation: progressAnimation 1.8s ease-out;
  }
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-percentage);
  }
}

@media screen and (max-width: 700px) {
  .neofetch-split {
    /* flex-direction: column !important; */
  }

  .neofetch-container {
    max-width: 100%;
  }
}
